{% extends "base.html" %}

{% block content %}
  <div class="ui grid container">

    <div class="four wide column">
      <div class="ui segment">
        <form method="get" class="ui form">
          <div class="field">
            <label> عبارت جست‌وجو‌ </label>
            <input type="text" value="{{ input_q }}" name="q" />
          </div>

          <input class="ui fluid large teal submit button"
            type="submit" value="جست‌وجو" />
        </form>
      </div>
    </div>

    <div class="twelve wide column">
      <div class="ui three column grid">
        {% for field in fields %}
          <div class="column">
            <a href="{% url "contents:field" field.id %}" class="ui fluid card">
              <div class="image">
                <img src="{{ field.image.url }}" />
              </div>
              <div class="content">
                <div class="ui header teal">
                  {{ field.name }}
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
