
{% extends "base.html" %}

{% block content %}
  <div class="ui container clearing segment">
    <h2 class="ui teal header">
      {{ field.name }}
    </h2>

    <img class="ui large right floated image" src="{{ field.image.url }}" />

    <p>
      {{ field.description }}
    </p>
  </div>

  <div class="ui container segment">
    <h3 class="ui header teal">
      برنامه‌ها
    </h3>
    <div class="ui four column grid">
      {% for program in field.program_set.all %}
        <div class="column">
          <a href="{% url "contents:program" program.id %}" class="ui fluid card">
            <div class="image">
              <img src="{{ program.university.image.url }}" />
            </div>
            <div class="content">
              <div class="ui header teal">
                {{ program.name }}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
