{% extends "base.html" %}

{% block content %}
  <div class="ui container segment">
    <h3 class="ui header teal">
      بعضی از دانشگاه‌ها
    </h3>

    <div class="ui four column grid">
      {% for university in universities %}
        <div class="column">
            <a href="{% url "contents:university" university.id %}" class="ui fluid card">
              <div class="image">
                <img src="{{ university.image.url }}" />
              </div>
              <div class="content">
                <div class="ui header teal">
                  {{ university.name }}
                </div>
              </div>
            </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="ui container segment">
    <h3 class="ui header teal">
      بعضی از رشته‌ها
    </h3>

    <div class="ui four column grid">
      {% for field in fields %}
        <div class="column">
          <a href="{% url "contents:field" field.id %}" class="ui fluid card">
            <div class="image">
              <img src="{{ field.image.url }}" />
            </div>
            <div class="content">
              <div class="ui header teal">
                {{ field.name }}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="ui container segment">
    <h3 class="ui header teal">
      بعضی از برنامه‌هاا
    </h3>

    <div class="ui four column grid">
      {% for program in programs %}
        <div class="column">
          <a href="{% url "contents:program" program.id %}" class="ui fluid card">
            <div class="image">
              <img src="{{ program.university.image.url }}" />
            </div>
            <div class="content">
              <div class="ui header teal">
                {{ program.name }}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
