{% extends "base.html" %}

{% load static %}

{% block css_links %}
  <link rel="stylesheet" href="{% static "users/users.css" %}" />
{% endblock %}

{% block content %}
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui teal header">
        Profile
      </h2>

      <div class="ui stacked segment">
        <div class="ui form large">
          <div class="field">
            <label>
              Username:
            </label>
            <input type="text" value="{{user.username}}" readonly />
          </div>

          <div class="field">
            <label>
              First name:
            </label>
            <input type="text" value="{{user.first_name}}" readonly />
          </div>

          <div class="field">
            <label>
              Last name:
            </label>
            <input type="text" value="{{user.last_name}}" readonly />
          </div>

          <div class="field">
            <label>
              Email:
            </label>
            <input type="text" value="{{user.email}}" readonly />
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
